.myDiv {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

h1 {
    color: red;
    text-align: center;
}

input[type=text]:focus {
    border: 3px solid #555;
  }


  