<p id="notice"><%= notice %></p>

<h1>Moviegoers</h1>

<ul>
  <%  @moviegoers.each do |moviegoer|  %>
    <li> <%= link_to moviegoer.name, moviegoer  %> </li>
  <% end %>
</ul>

<br>

<%= link_to 'Add Moviegoer', new_moviegoer_path %>